<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <h6 class="modal-body">Are you sure to delete the following container?</h6>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container ID</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.id}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Image</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.image}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Command</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.command}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Created</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.created}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Status</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.status}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Ports</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.ports}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><strong>Container Names</strong></label>
            <div class="col-sm-5">
              <p class="form-control-static">{{container.names}}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
